body{

font-family: Arial, sans-serif;
margin:0;
background:#0b1a3c;
color:white;

}

header{

background:#08122b;
text-align:center;
padding:40px;

}

nav{

text-align:center;
background:#111f4b;
padding:15px;

}

nav a{

color:white;
margin:10px;
text-decoration:none;
font-weight:bold;

}

nav a:hover{

color:#ff4d4d;

}

section{

padding:40px;
max-width:900px;
margin:auto;

}

.project{

background:#13255c;
padding:20px;
margin-top:20px;
border-radius:10px;

}

footer{

text-align:center;
padding:20px;
background:#08122b;

}
